body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 0px solid #ddd;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}



#main
{
	height: 100%;
}

.edit-icon
{
	float:right;
	margin: 0 4px;
}

.print-area
{
	margin-top: 5px;
	padding: 10px;
}

.print-icon, .new-icon
{
	margin: 3px 5px;
	float: left;
}

.anniversary, .birthday, .holiday
{
	padding: 2px;
}

.anniversary
{
	border-color: pink;
}

.birthday
{
	border-color: purple;
}

.holiday
{
	border-color: black;
}

#calendar-list
{
	margin: 5px;
	padding: 0px;
}

#calendar-list li
{
	list-style-type: none;
	padding: 10px;
}

#calendar-list li.selected
{
	border: 1px solid gray;
	border-radius: 3px;
	background-color: wheat;
}

#dialog-form input[type="text"]
{
	width: 100%;
}
